export(cv.fa)
export(fusedanova)
exportClasses(cv.fa)
exportClasses(fusedanova)
exportMethods(dataconvert)
exportMethods(plot)
exportMethods(predict)
exportMethods(print)
exportMethods(show)
import(ggplot2)
import(grid)
import(methods)
import(parallel)
import(plyr)
importFrom(stats,predict)
useDynLib(fusedanova2)
