exportClasses(cvfa)
exportClasses(fusedanova)
export(crossval)
export(fusedanova)
exportMethods(dataconvert)
exportMethods(plot)
exportMethods(predict)
exportMethods(print)
exportMethods(show)
import(ggplot2)
import(grid)
import(methods)
import(parallel)
import(plyr)
import(Rcpp)
useDynLib(fusedanova)
